body {
  background-color: #e7f1f7;
  color: #07254f;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 200%;
  font-family: 'Sriracha', cursive;
  margin: 1px;
}

p {
  font-size: 120%;
  margin: 1px;
}

.alert {
  background-color: mistyrose;
  color: red;
  padding: 15px;
  border: 1px red;
  border-radius: 4px;
}